# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [35]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [13]:
df = pd.read_csv('cityinfo.csv')
df

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,ponta delgada,37.73,-25.67,292.15,59,20,7.70,PT,1593018071
1,1,bluff,-46.60,168.33,281.87,87,88,8.68,NZ,1593018071
2,2,busselton,-33.65,115.33,284.26,67,100,2.85,AU,1593018005
3,3,mataura,-46.19,168.86,279.66,91,78,1.84,NZ,1593018071
4,4,ushuaia,-54.80,-68.30,275.15,87,75,2.10,AR,1593018019
...,...,...,...,...,...,...,...,...,...,...
551,551,san felipe,10.34,-68.74,303.86,52,98,2.49,VE,1593017948
552,552,burns lake,54.23,-125.75,290.47,42,14,1.97,CA,1593018091
553,553,mount isa,-20.73,139.50,286.15,30,0,4.10,AU,1593018018
554,554,monchegorsk,67.94,32.87,288.27,46,100,4.69,RU,1593018121
555,555,terrell,32.74,-96.28,304.26,58,1,4.60,US,1593017904

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

In [6]:
locations = df[["Lat", "Lon"]].astype(float)

In [7]:
humidity = df["Humidity"].astype(float)

In [8]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [18]:
df.drop(df[df['Max Temp'] > 300].index, inplace = True) 
df.drop(df[df['Wind Speed'] > 7].index, inplace = True) 
df.drop(df[df['Cloudiness'] > 50].index, inplace = True) 
df.drop(df[df['Humidity'] > 30].index, inplace = True) 
df2 = df.dropna() 
df2

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
29,29,plettenberg bay,-34.05,23.37,296.56,24,0,5.15,ZA,1593018074
51,51,elko,41.00,-115.50,297.15,25,1,2.10,US,1593018030
96,96,kruisfontein,-34.00,24.73,291.65,26,0,3.74,ZA,1593018078
167,167,bisho,-32.85,27.44,289.68,29,0,2.67,ZA,1593018086
182,182,aligudarz,33.40,49.69,295.23,21,0,1.82,IR,1593018087
322,322,kununurra,-15.77,128.73,287.15,29,0,4.62,AU,1593018102
382,382,kasane,-17.82,25.15,294.15,28,0,3.10,BW,1593018106
548,548,chulumani,-16.41,-67.53,299.77,29,21,2.25,BO,1593018120
553,553,mount isa,-20.73,139.50,286.15,30,0,4.10,AU,1593018018

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [61]:
hotel_df = df2

In [54]:
hotelname = ''
hotel_df['Hotel Name'] = hotelname
hotel_df

/Users/carlhmackensen/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
29,29,plettenberg bay,-34.05,23.37,296.56,24,0,5.15,ZA,1593018074,
51,51,elko,41.00,-115.50,297.15,25,1,2.10,US,1593018030,
96,96,kruisfontein,-34.00,24.73,291.65,26,0,3.74,ZA,1593018078,
167,167,bisho,-32.85,27.44,289.68,29,0,2.67,ZA,1593018086,
182,182,aligudarz,33.40,49.69,295.23,21,0,1.82,IR,1593018087,
322,322,kununurra,-15.77,128.73,287.15,29,0,4.62,AU,1593018102,
382,382,kasane,-17.82,25.15,294.15,28,0,3.10,BW,1593018106,
548,548,chulumani,-16.41,-67.53,299.77,29,21,2.25,BO,1593018120,
553,553,mount isa,-20.73,139.50,286.15,30,0,4.10,AU,1593018018,

In [66]:
target_coordinates = hotel_df[["Lat", "Lon"]], 
target_search = "Hotel"
target_radius = 5000
target_type = "Hotel"

# set up a parameters dictionary
params = {
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get restaurant type from df
    lat = row["Lat"]
    lng = row["Lon"]
    params["location"] = f"{lat},{lng}"
    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city}.")
    response = requests.get(base_url, params=params).json()
    # extract results
    results = response['results']
    #print(json.dumps(results, indent=4, sort_keys=True))
    
    try:
        
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 29: mount isa.

/Users/carlhmackensen/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

------------
Retrieving Results for Index 51: mount isa.
Missing field/result... skipping.
------------
Retrieving Results for Index 96: mount isa.
------------
Retrieving Results for Index 167: mount isa.
------------
Retrieving Results for Index 182: mount isa.
------------
Retrieving Results for Index 322: mount isa.
------------
Retrieving Results for Index 382: mount isa.
------------
Retrieving Results for Index 548: mount isa.
------------
Retrieving Results for Index 553: mount isa.
------------

In [67]:
hotel_df

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
29,29,plettenberg bay,-34.05,23.37,296.56,24,0,5.15,ZA,1593018074,Sky Villa Boutique Hotel
51,51,elko,41.00,-115.50,297.15,25,1,2.10,US,1593018030,The Plettenberg Hotel
96,96,kruisfontein,-34.00,24.73,291.65,26,0,3.74,ZA,1593018078,Humansdorp Boutique Hotel
167,167,bisho,-32.85,27.44,289.68,29,0,2.67,ZA,1593018086,Hemingways Guest House
182,182,aligudarz,33.40,49.69,295.23,21,0,1.82,IR,1593018087,Ù‡ØªÙ„ ØªØ®Øª Ø¬Ù…Ø´ÛŒØ¯
322,322,kununurra,-15.77,128.73,287.15,29,0,4.62,AU,1593018102,Hotel Kununurra
382,382,kasane,-17.82,25.15,294.15,28,0,3.10,BW,1593018106,Pangolin Chobe Hotel
548,548,chulumani,-16.41,-67.53,299.77,29,21,2.25,BO,1593018120,Hotel Cabanas Paradise
553,553,mount isa,-20.73,139.50,286.15,30,0,4.10,AU,1593018018,Abacus Motel

In [75]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure

In [79]:
humidity = hotel_df["Humidity"].astype(float)

In [81]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)
# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))