# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [18]:
df = pd.read_csv('cityinfo.csv')
df

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,vaini,-21.20,-175.20,293.15,94,75,2.10,TO,1593025381
1,1,krasnyy chikoy,50.36,108.75,284.11,87,85,0.09,RU,1593025771
2,2,bengkulu,-3.80,102.27,298.77,65,100,0.52,ID,1593025509
3,3,puerto ayora,-0.74,-90.35,300.15,61,20,1.50,EC,1593025511
4,4,petropavl,54.88,69.16,286.49,92,88,4.56,KZ,1593025772
...,...,...,...,...,...,...,...,...,...,...
560,560,lloydminster,53.28,-110.00,293.15,64,75,3.10,CA,1593025648
561,561,akureyri,65.68,-18.09,288.15,58,40,9.30,IS,1593025825
562,562,macas,-2.32,-78.12,299.15,54,40,5.70,EC,1593025808
563,563,seoul,37.57,126.98,294.15,100,90,2.10,KR,1593025335
564,564,sahuaripa,29.05,-109.23,314.26,11,0,1.89,MX,1593025531

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = df[["Lat", "Lon"]].astype(float)

In [5]:
humidity = df["Humidity"].astype(float)

In [6]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [19]:
df.drop(df[df['Max Temp'] > 300].index, inplace = True) 
df.drop(df[df['Wind Speed'] > 7].index, inplace = True) 
df.drop(df[df['Cloudiness'] > 70].index, inplace = True) 
df.drop(df[df['Humidity'] > 30].index, inplace = True) 
df2 = df.dropna() 
df2

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
11,11,east london,-33.02,27.91,294.39,27,0,3.40,ZA,1593025390
57,57,kununurra,-15.77,128.73,290.15,29,0,2.60,AU,1593025778
144,144,kutum,14.20,24.67,299.89,18,0,0.66,SD,1593025532
218,218,ambon,-3.70,128.18,299.82,14,54,6.37,ID,1593025791
223,223,sucre,-19.03,-65.26,293.37,20,0,2.53,BO,1593025619
281,281,mehran,33.12,46.16,297.15,25,0,5.91,IR,1593025799
475,475,arak,34.09,49.69,295.02,22,0,0.26,IR,1593025589
493,493,shizuishan,39.23,106.77,294.47,22,11,1.72,CN,1593025819
521,521,shitanjing,39.23,106.34,293.15,17,0,2.68,CN,1593025821
531,531,kruisfontein,-34.00,24.73,291.37,26,0,4.11,ZA,1593025822
547,547,yumen,40.28,97.20,292.61,21,1,3.49,CN,1593025513

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [20]:
hotel_df = df2

In [21]:
hotelname = ''
hotel_df['Hotel Name'] = hotelname
hotel_df

/Users/carlhmackensen/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
11,11,east london,-33.02,27.91,294.39,27,0,3.40,ZA,1593025390,
57,57,kununurra,-15.77,128.73,290.15,29,0,2.60,AU,1593025778,
144,144,kutum,14.20,24.67,299.89,18,0,0.66,SD,1593025532,
218,218,ambon,-3.70,128.18,299.82,14,54,6.37,ID,1593025791,
223,223,sucre,-19.03,-65.26,293.37,20,0,2.53,BO,1593025619,
281,281,mehran,33.12,46.16,297.15,25,0,5.91,IR,1593025799,
475,475,arak,34.09,49.69,295.02,22,0,0.26,IR,1593025589,
493,493,shizuishan,39.23,106.77,294.47,22,11,1.72,CN,1593025819,
521,521,shitanjing,39.23,106.34,293.15,17,0,2.68,CN,1593025821,
531,531,kruisfontein,-34.00,24.73,291.37,26,0,4.11,ZA,1593025822,
547,547,yumen,40.28,97.20,292.61,21,1,3.49,CN,1593025513,

In [22]:
target_coordinates = hotel_df[["Lat", "Lon"]], 
target_search = "Hotel"
target_radius = 5000
target_type = "Hotel"

# set up a parameters dictionary
params = {
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get restaurant type from df
    lat = row["Lat"]
    lng = row["Lon"]
    params["location"] = f"{lat},{lng}"
    city = row["City"]
    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city}.")
    response = requests.get(base_url, params=params).json()
    # extract results
    results = response['results']
    #print(json.dumps(results, indent=4, sort_keys=True))
    
    try:
        
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 11: east london.

/Users/carlhmackensen/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

------------
Retrieving Results for Index 57: kununurra.
------------
Retrieving Results for Index 144: kutum.
Missing field/result... skipping.
------------
Retrieving Results for Index 218: ambon.
------------
Retrieving Results for Index 223: sucre.
------------
Retrieving Results for Index 281: mehran.
Missing field/result... skipping.
------------
Retrieving Results for Index 475: arak.
------------
Retrieving Results for Index 493: shizuishan.
------------
Retrieving Results for Index 521: shitanjing.
Missing field/result... skipping.
------------
Retrieving Results for Index 531: kruisfontein.
Missing field/result... skipping.
------------
Retrieving Results for Index 547: yumen.
Missing field/result... skipping.
------------

In [23]:
hotel_df

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
11,11,east london,-33.02,27.91,294.39,27,0,3.40,ZA,1593025390,Premier Hotels & Resorts
57,57,kununurra,-15.77,128.73,290.15,29,0,2.60,AU,1593025778,Freshwater East Kimberley Apartments | Kununur...
144,144,kutum,14.20,24.67,299.89,18,0,0.66,SD,1593025532,
218,218,ambon,-3.70,128.18,299.82,14,54,6.37,ID,1593025791,Swiss-Belhotel Ambon
223,223,sucre,-19.03,-65.26,293.37,20,0,2.53,BO,1593025619,Mi Pueblo Samary
281,281,mehran,33.12,46.16,297.15,25,0,5.91,IR,1593025799,
475,475,arak,34.09,49.69,295.02,22,0,0.26,IR,1593025589,Amir Kabir Hotel
493,493,shizuishan,39.23,106.77,294.47,22,11,1.72,CN,1593025819,Yingbin Hotel
521,521,shitanjing,39.23,106.34,293.15,17,0,2.68,CN,1593025821,
531,531,kruisfontein,-34.00,24.73,291.37,26,0,4.11,ZA,1593025822,
547,547,yumen,40.28,97.20,292.61,21,1,3.49,CN,1593025513,

In [24]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure

In [25]:
humidity = hotel_df["Humidity"].astype(float)

In [26]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)
# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations)
# Add the layer to the map
fig.add_layer(markers)
info_box_content=hotel_info
fig

Figure(layout=FigureLayout(height='420px'))